.animated-title {
    position: relative;
    animation: moveTitle 5s infinite linear;
}

@keyframes moveTitle {
    0% {
        left: 0;
    }
    50% {
        left: 50px; /* Adjust the distance it moves to your liking */
    }
    100% {
        left: 0;
    }
}

